* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    height: 5000px;
}

:root {
    --primary-color: #0f1b4c;
    --main-back-ground: #e6f0ff;
}

/* Common features */
a {
    text-decoration: none;
}

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    padding: 18px 16px;
    min-width: 98px;
    border-radius: 12px;
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
}

.btn:hover {
    opacity: 0.8;
}

/* ============= I: HEADER ============= */
/* Header */
.header {
    background-color: var(--main-back-ground);
    height: 100vh;
}
/* Navigation */
.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
}

.navbar .menu {
    display: flex;
    margin-left: 50px;
    /* align-self: center; */
}

.navbar .menu li a {
    color: #4f5361;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    padding: 8px 14px;
}

.navbar .menu li:hover a {
    text-decoration: underline;
}

/* Navigation - Action */
.navbar .action {
    margin-left: auto;
}

.navbar .action .sign-in {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
}

.navbar .action .btn-sign-up {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}

/* Hero */
.hero {
    display: flex;
}

.hero .info {
    margin-right: auto;
    margin-top: 130px;
    width: 51%;
}

.hero .sub-title {
    color: #687690;
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.18px;
    margin-bottom: 8px;
}

.hero .title {
    color: #000336;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 76px; /* 118.75% */
    margin-bottom: 30px;
}

.hero .desc {
    color: #5a6473;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
    margin-bottom: 10px;
}

.hero-cta {
    min-width: 170px;
}

.hero img {
    margin-left: auto;
    height: 500px;
}

/* ============= II: CLIENTS ============= */
/* Ratings */
.clients {
    margin-top: 122px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.row-desc {
    margin-top: 23px;
}

.row .desc {
    color: #7d8589;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px; /* 125% */
}
/* Brands */
.brands {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

/* ============= II: CLIENTS ============= */
.guides {
    margin-top: 150px;
}

.guides .sub-title {
    position: relative;
    color: #000339;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    line-height: 35px; /* 100% */
}

.guides .sub-title::before {
    position: absolute;
    display: inline-block;
    top: -10px;
    left: 50%;
    content: "";
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
    transform: translateX(-50%);
}

.guides .desc {
    width: 459px;
    max-width: 100%;
    margin: 20px auto 0px;
    color: #5a6473;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}
/* Guide lists */
.guide-list {
    display: flex;
    margin-top: 70px;
    justify-content: center;
}

.guide-item {
    text-align: center;
    margin: 0px 70px;
}

.guide-list h3 {
    margin-top: 26px;
    color: #3b3c45;
    font-size: 20px;
    font-weight: 500;
    line-height: 22px; /* 110% */
}

.link {
    display: inline-block;
    margin-top: 10px;
    color: #0689ff;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
}
/* Guidelines button */
.guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.guidelines-btn {
    min-width: 170px;
}
/* Features */
.features {
    margin-top: 120px;
    padding-top: 110px;
    padding-bottom: 110px;
    background-color: var(--main-back-ground);
}

.features .sub-title {
    color: #000339;
    font-size: 35px;
    font-weight: 600;
    line-height: 35px; /* 100% */
}

.row-features {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    align-items: baseline;
}

.row-features .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
}

.features .link {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.8rem;
    color: #0689ff;
}

.arrow {
    margin-left: 8px;
}
/* Features-List */
.features .list {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.list .item {
    background-color: #fff;
    width: 350px;
    border-radius: 8px;
}

.thumb {
    width: 350px;
    height: 227px;
    border-radius: 8px 8px 0px 0px;
}

.body {
    padding: 17px 38px 24px 20px;
}

.body .title {
    color: #000339;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px; /* 100% */
}

.body .desc {
    margin-top: 11px;
    color: #a3a6ab;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
}

.body .info {
    margin-top: 21px;
    display: flex;
    justify-content: center;
}

.body .label {
    margin: 3px 19px 0px 6px;
    color: #4d4d52;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px; /* 100% */
    letter-spacing: 0.14px;
}

.body .label:last-child {
    margin-right: 0px;
}
